<h1>{{title}}</h1>
<p>Data dump:<br> {{data}}</p>

{{#each items}}
    <p>{{this.id}}. {{this.desc}}</p>
{{/each}}
<form action="/add" method="post">
    <input type="text" name="someString">
    <input type="submit">
</form>