
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="refresh" content="360">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<style type="text/css">
.bottom,.container{word-wrap: break-word;max-width:750px;min-width:750px}body{background-image:url({{website}}/images/black_thread.png);background-repeat:repeat;overflow-y:scroll;background-color:#ECECEC;padding:20px 10px}.hidden-msg{background-color:#000;color:#000;padding:0 2px}.hidden-msg:hover{background-color:#fff;color:#000;padding:0 2px}.btn-info,.btn-primary{margin-top:9px}.btn,.btn:hover{text-decoration:none!important;color:#000!important}.btn-danger,.btn-danger:active,.btn-danger:hover,.btn-danger:link,.btn-danger:visited{color:#FFF!important}.panel-background{background-color:#fcfcfc!important}.panel-message1{word-wrap:break-word!important;background-color:#fff!important}.form-url-bottom,.form-url-domain,.form-url-normal{background-color:#FFF!important}.bottom{padding:0;margin:-14px auto -20px;border:0}.form-url-bottom,.form-url-normal{width:100%!important;margin-top:7px!important}.bottom2{margin-left:20px;margin-right:0;font-size:12px;color:#828282}.form-control,.form-message,.form-url-bottom,.form-url-domain,.form-url-normal,.panel-message2{color:#000!important}.site-logo-img{width:16px;height:16px}.fix{margin-right:-33px;white-wrap:break-word}.spacer{float:left;padding-top:0;padding-right:15px;align-content:left;white-space:nowrap;display:table-cell;vertical-align:middle}.alert,.form-message,.panel-message2,.well{padding:10px!important}.form-url-bottom{margin-bottom:-17px!important}.form-url-normal{margin-bottom:0!important}.form-url-domain{text-align:center!important;width:85px!important;margin-top:7px!important;margin-bottom:0!important}a,a:active,a:link,a:visited{text-decoration:underline;color:#000}a:hover{text-decoration:none;color:#000}.url-ext,a.url-ext:active,a.url-ext:link,a.url-ext:visited{text-decoration:underline!important;color:#000!important}a.url-ext:hover{text-decoration:none!important;color:#000!important}.red,a.red:active,a.red:link,a.red:visited{text-decoration:underline!important;color:#AB4442!important}a.red:hover{text-decoration:none!important;color:#AB4442!important}.yellow,a.yellow:active,a.yellow:link,a.yellow:visited{text-decoration:underline!important;color:#8D6D3B!important}a.yellow:hover{text-decoration:none!important;color:#8D6D3B!important}.blue,a.blue:active,a.blue:link,a.blue:visited{text-decoration:underline!important;color:#317092!important}a.blue:hover{text-decoration:none!important;color:#317092!important}.green,a.green:active,a.green:link,a.green:visited{text-decoration:underline!important;color:#3c7654!important}a.green:hover{text-decoration:none!important;color:#3c7654!important}.sitetitle,a.sitetitle:active,a.sitetitle:focus,a.sitetitle:hover,a.sitetitle:link,a.sitetitle:visited{text-decoration:none!important;color:#000!important;font-weight:400!important}.footerlink,a.footerlink:active,a.footerlink:focus,a.footerlink:hover,a.footerlink:link,a.footerlink:visited{text-decoration:none;font-weight:400;color:#828282}</style>
<!-- ,.panel-body{ word-wrap: break-word;min-width:730px},.panel{max-width:750px;min-width:750px} -->
</head>

<body>
	<div class="container">
		<div class="panel panel-default">
	  		<div class="panel-heading"><b>Secret Mode</b> - For sharing one time messages, <i>secretly</i>!</div>

	  		<div class="panel-body">
	  			<div class="alert alert-warning">
	            <b>Confirmation</b></br>
                    Click on the button below to read the message.</br>
                </div>
                <form action="{{website}}/decrypt/{{decryption_url}}" method="post">
                    <input type="hidden" name="_csrf" value="{{token}}">
                    <input class="btn btn-default" type="submit" value="Read Message">
                </form>
			</div>
		</div>
	</div>
</body>
</html>

